@import 'tailwindcss';

@layer base {
  body {
    @apply bg-indigo-100;
  }
}

@layer components {
  .question-label {
    @apply text-white text-xl font-semibold flex items-end;
  }

  .question-progress {
    @apply text-white text-xl font-semibold;
  }

  .question-total {
    @apply text-gray-400 text-sm align-top ml-0.5;
  }
}

.main-app {
  @apply mx-auto w-full max-w-5xl p-4;
}
.header {
  @apply flex w-full justify-between;
}
.quiz-set {
  @apply grid grid-cols-4 gap-4;
}
.quiz-tile {
  @apply h-40 rounded-3xl bg-white;
}
