@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: 'Comfortaa', sans-serif;
}

@layer base {
  body {
    @apply bg-indigo-100 font-sans;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
  }
}
@layer utilities {
  .main-app {
    @apply mx-auto w-full max-w-5xl p-4;
  }
  .header {
    @apply mb-10 flex w-full items-center justify-between;
  }
  .quiz-set {
    @apply grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3;
  }
}

@layer components {
  .pill-group {
    @apply flex space-x-4;
  }

  .pill {
    @apply flex cursor-pointer items-center rounded-lg bg-white px-4 py-2 text-gray-700 shadow-sm transition-shadow hover:shadow;
  }

  .pill-selected {
    @apply border-2 border-indigo-500 bg-white shadow-lg;
  }

  .pill-content {
    @apply flex items-center space-x-2 text-sm font-medium;
  }

  .pill-icon {
    @apply h-4 w-4 text-indigo-500;
  }

  /* When the radio is selected, style the parent label */
  .pill input:checked + .pill-content {
    @apply text-indigo-600;
  }
}
/* button */
@layer components {
  .btn-outline {
    @apply cursor-pointer rounded-xl border border-indigo-500 bg-white px-6 py-2 font-semibold text-indigo-500 transition-[scale,background] hover:bg-indigo-50 active:scale-90;
  }
  .btn-primary {
    @apply cursor-pointer rounded-2xl bg-indigo-500 px-8 py-3 font-semibold text-white transition-[scale,background] hover:bg-indigo-600 active:scale-90;
  }
  .btn-prev-nxt-wrap {
    @apply max-sm:grid max-sm:grid-cols-2 max-sm:gap-2 sm:space-x-2;
  }
}

/* quiz */
@layer utilities {
  .main-quiz-app {
    @apply flex h-dvh flex-col gap-10 sm:h-160;
  }
  .quiz-header {
    @apply flex w-full items-center justify-between;
  }
}

@layer components {
  .option-radio-input {
    @apply hidden;
  }
  .label-styles {
    @apply inline-flex w-full cursor-pointer items-center justify-between rounded-2xl border border-gray-200 bg-white px-5 py-4 text-gray-600 transition-colors peer-checked:border-indigo-500 peer-checked:text-indigo-500 hover:bg-gray-50 hover:text-gray-600;
  }
  .label-option {
    @apply block transition-colors;
  }
  .option-check {
    @apply h-5 w-5 opacity-0 transition-opacity;
  }
  :where(.peer):checked ~ .label-styles > .option-check {
    @apply opacity-100;
  }
}

/* timer */
@layer components {
  .timer {
    @apply text-2xl font-bold text-indigo-500;
  }
}

/* quiz */
@layer components {
  .quiz-list {
    @apply flex h-full flex-row overflow-x-scroll;
    touch-action: none;
    -ms-touch-action: none;

    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar in Firefox */
    & {
      scrollbar-width: none;
    }

    /* Hide scrollbar in IE, Edge (legacy) */
    & {
      -ms-overflow-style: none;
    }
  }
  .question-label {
    @apply mb-4 flex items-end text-xl font-medium text-gray-600;
  }
  .question-total {
    @apply ml-0.5 align-top text-base text-gray-400;
  }
  .quiz-box {
    @apply flex h-full min-w-[100%] flex-col justify-between rounded-3xl bg-white p-8;
  }
  .quiz-question {
    @apply text-2xl font-medium text-gray-800 sm:text-3xl;
  }
  .quiz-options {
    @apply mt-4 grid grid-cols-1 gap-3 md:grid-cols-2;
  }
}

/* quiz home page */

@layer components {
  .logo {
    @apply text-2xl font-bold text-indigo-500 uppercase;
  }
}

@layer components {
  .quiz-tile {
    @apply rounded-3xl bg-white p-6;

    .btn-primary {
      @apply flex w-full items-center justify-center gap-2;
    }
  }
  .set-title {
    @apply text-xl font-medium text-ellipsis;
  }
  .set-description {
    @apply my-6 mt-2 text-gray-600;
  }
}
